<%= form_tag(cocktails_path, :method => 'get', :class => "search_form") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>


<ul class="cocktail_list">
<% @cocktails.each do |cocktail| %>
	<li><%= link_to cocktail.name, "http://#{cocktail.link}", :target => "_blank" %></li>
<% end %>
</ul>

<div class="searched_ingredients">
</div>