<%= form_tag(cocktails_path, :method => 'get', :class => "search_form") do %>
  <%= label_tag(:query, "Choose ingredients:") %>
  <%= text_field_tag(:query1) %>
  <%= text_field_tag(:query2) %>
  <%= text_field_tag(:query3) %>
  <%= text_field_tag(:query4) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="searched_ingredients">
	<% if @ingredients %>
		<% @ingredients.each do |ingredient| %>
			<span class="ingredient"><%= ingredient %></span>
		<% end %>
	<% end %>
</div>


<% if @cocktails.length >= 1 %>
	<div class="cocktail_list">
	<% @cocktails.each do |cocktail| %>
		<div class="cocktail_result"><%= link_to cocktail.name, "http://#{cocktail.link}", :target => "_blank" %>
		<% if num_ingredients(cocktail) <= 3 %>
			<span class="glyphicon glyphicon-glass"></span>
		</div>
		<% elsif num_ingredients(cocktail) < 6 %>
			<span class="glyphicon glyphicon-glass"></span>
			<span class="glyphicon glyphicon-glass"></span>
		</div>
		<% else %>
			<span class="glyphicon glyphicon-glass"></span>
			<span class="glyphicon glyphicon-glass"></span>
			<span class="glyphicon glyphicon-glass"></span>
		</div>
		<% end %>
	<% end %>
	</div>
<% end %>
